:root {
    /* --primary-color: #033051; */
    --primary-color: #033051;
    --secondary-color: #333;
    --accent-color: #DBCF42ff;
    /* CSS HEX */
    --seal-brown: #5C2513ff;
    --sinopia: #D1461Bff;
    --black-shadows: #BEB2B0ff;
    --dark-sienna: #2B0D0Fff;
}

* { box-sizing: border-box; }

body {
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #333;                              
    padding: 0;
    margin: 0;
    line-height: 1.6;
}

/* ==================
    typeography
===================== */

h1, h2 {
    margin: 0;
    color: var(--primary-color);
    line-height: 1.4;
}

.title {
    font-size: 2.5rem;
    line-height: 1.3;
}

.subtitle {
    margin-bottom: 1.5em;
}

p {
    color: var(--secondary-color);
}

.section-title {
    font-size: 1.225rem;
    margin-top: 1.5em;
}

/* button */

.btn {
    background: var(--sinopia);
    color: #fff;
    padding: 0.45em 1.45em;
    justify-self: flex-start;
    text-decoration: none;
    font-weight: 700;
}


/* ==================
    Navigation
===================== */


.header {
    width: 100%;
}
.header-content {
    display: flex;
    align-items: center;
    background: transparent;
    position: fixed;
    
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-item {
    margin-left: 2em;
}

.nav-link {
    text-decoration: none;
    color: var(--sinopia);
}


/* ==================
    hero area
===================== */

.hero {
    background-image: url(img/adventure.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;

    padding: 8em 0;
}

.hero > * {
    grid-column: 2 / -2;
}

@media (min-width: 600px) {
    .hero > * {
        grid-column: 2 / span 2;
    }
}

.logo,
.footer-logo {
    max-width: 200px;
}

/* ==================
    Info Section
===================== */

.info {
    padding: 4em 0;
    text-align: center;
}

.col {
    grid-column: 2 / -2;
}

@media (min-width: 600px) {
    .col {
        grid-column: span 1;
    }

    .col:first-child {
        grid-column: 2 / span 1;
    }
}


/* ==================
    Layout
===================== */

.main-grid {
    display: grid;
    grid-template-columns: 
    minmax(1em, 2em) minmax(0, 500px) minmax(1em, 2em);
    column-gap: 2em;
}

@media (min-width: 600px) {
    .main-grid {
        grid-template-columns: minmax(1em, 1fr) repeat(3,minmax(100px, 320px)) minmax(1em, 1fr);
    }
}

/* footer */

.footer {
    padding: 4em 0;
    opacity: 0.7;
    text-align: center;
    background: #ebebeb;
    grid-template-areas: 
        ". social ."
        ". main .";

}

.footer-main,
.social-list {
    grid-column: 2 / -2;
}

.footer-main {
    font-size: 0.85rem;
    grid-area: main;
}

.social-list {
    grid-area: social;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 0 2em;
}

.social-item {
    font-size: 1.45rem;
    margin: 0 1em;
    transition: all 0.3s ease-in-out;
}

.social-item:hover {
    transform: scale(1.5);
}

.social-link {
    color: #333;
}

@media(min-width: 600px) {
    .footer {
        grid-template-areas: 
            ". main main social .";
    }

    .footer-main {
        text-align: left;
    }
}