:root {
    /* --primary-color: #033051; */
    --primary-color: #033051;
    --secondary-color: #333;
    --accent-color: #DBCF42ff;
    /* CSS HEX */
    --seal-brown: #5C2513ff;
    --sinopia: #D1461Bff;
    --black-shadows: #BEB2B0ff;
    --dark-sienna: #2B0D0Fff;
}

* { box-sizing: border-box; }

body {
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #333;                              
    padding: 0;
    margin: 0;
    line-height: 1.6;
}

/* ==================
    typeography
===================== */

h1, h2 {
    margin: 0;
    color: var(--primary-color);
    line-height: 1.4;
}

/* navigation */


.header {
    width: 100%;
}
.header-content {
    display: flex;
    align-items: center;
    background: transparent;
    position: fixed;
    
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-item {
    margin-left: 2em;
}

.nav-link {
    text-decoration: none;
    color: var(--sinopia);
}

.title {
    font-size: 2.5rem;
}

.subtitle {
    margin-bottom: 1.5em;
}

p {
    color: var(--secondary-color);
}

/* button */

.btn {
    background: var(--sinopia);
    color: #fff;
    padding: 0.65em 1.75em;
    justify-self: flex-start;
    text-decoration: none;
    font-weight: 700;
}

/* ==================
    hero area
===================== */

.hero {
    display: grid;
    grid-template-columns: 
    minmax(1em, 2em) minmax(0, 500px) minmax(1em, 2em);

    background-image: url(img/adventure.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;

    padding: 8em 0;
}

.hero > * {
    grid-column: 2 / -2;
}

.logo,
.footer-logo {
    max-width: 200px;
}